/* ADMIN FORM STYLE TWEAKS */
.pbytax-settings input[type="number"].small-number {
	width:60px;
	padding:0 4px;
}

.pbytax-settings input[type="checkbox"].checkbox-margin {
	margin:4px 0;
}

.pbytax-settings span.float-right-field {
	float:right;
	clear:right;
}